<%- include('partials/header') %>
<main style="text-align: center; padding: 4rem;">
    <h1>404</h1>
    <p>site not found</p>
    <a href="/" class="btn">go back to home page</a>
</main>
<&- include('partials/footer') %>